.populars__section {
    margin-top: 15rem;
}

.populars__data-hr {
    border: none;
    height: 1px;
    background-color: #ADADAD;
}


.populars__data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.populars__container {
    gap: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.populars__name {
    color: #c79c60;
    font-size: 30px;
    font-family: 'Damion', cursive;
}

.populars__hr {
    margin-top: 7px;
    border: none;
    height: 1px;
    width: 630px;
    background: #c79c60;
}

.datas {
    margin-top: 5rem;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.populars__data-content {
    background: #fff;
    width: 286px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.populars__data-title::first-letter {
    font-weight: 700;
    color: #ADADAD;
    font-size: 50px;
    font-family: 'Damion', cursive;
}

.populars__data-title {
    font-weight: 500;
    color: #ADADAD;
    font-size: 35px;
    font-family: 'Damion', cursive;
}

.populars__data-text {
    padding: 19px 0px 60px 0px;
    color: #333;
    letter-spacing: -0.30px;
    font-size: 14px;
    width: 220px;
}

.datas__icon-bg {
    margin-top: -4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #524C4C;
    width: 100px;
    height: 100px;
}

.datas__icon-text {
    text-align: center;
    font-weight: 500;
    color: #ADADAD;
    font-family: 'Damion', cursive;
    font-size: 24px;
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50%;
    width: 85px;
    height: 85px;
    padding-top: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.populars__data-container:hover {
    .populars__data-content {
        box-shadow: 0px 11px 6px 0px rgba(153, 153, 153, 0.75);
        -webkit-box-shadow: 0px 11px 6px 0px rgba(153, 153, 153, 0.75);
        -moz-box-shadow: 0px 11px 6px 0px rgba(153, 153, 153, 0.75);
    }

    .populars__data-title::first-letter {
        color: #c79c60;
    }

    .populars__data-hr {
        border: none;
        height: 1px;
        background-color: #c79c60;
    }

    .populars__data-title {
        color: #c79c60;
    }

    .datas__icon-text {
        border: 2px solid #c79c60;
        color: #c79c60;
    }
}

@media screen and (max-width:777px) {
    .populars__section{
        margin-top: 90px;
    }
    .datas {
        display: grid;
        padding: 0px 30px;
        gap: 55px;
        justify-content: space-between;
        grid-template-columns: auto auto;
    }

    .populars__hr {
        width: 430px;
    }

}


@media screen and (max-width:425px) {
    .populars__section{
        margin-top:70px;
    }
    .datas {
        display: grid;
        justify-content: center;
        gap: 60px;
        grid-template-columns: auto;
    }

    .populars__hr {
        width: 280px;
    }

    .populars__name {
        display: grid;
        justify-content: start;
    }

    .populars__container {
        display: grid;
        gap: 10px;
    }
}