@import url('https://fonts.googleapis.com/css2?family=Damion&family=Dosis:wght@200;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Damion&family=Dosis:wght@200;700&family=Gideon+Roman&family=Poppins&display=swap');


.today__section {
    background-color: #e4e4e4;
    height: 2800px;
}

.today {
    position: absolute;
    height: 880px;
    width: 100%;
    background: #282726;
}

.today__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}



.today__image {
    width: 330px;
    vertical-align: middle;
}

.today__img {
    margin-top: 2%;
    height: 100%;
    width: 70px;
}

.today__title-content {
    color: #FFF9F0;
    margin-top: -180px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today__title {
    font-family: 'Damion', cursive;
    font-size: 57px;
}

.today-text-content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.today__text {
    font-weight: 500;
    font-family: 'Gideon Roman', serif;
    font-size: 58px;
    color: #c79c60;
    text-transform: uppercase;
}

.today__texts {
    color: #949494;
    font-size: 14px;
    text-align: start;
    width: 650px;
}

.today__btn {
    display: grid;
    margin-left: 13%;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
}

.today__btn-text {
    color: #c79c60;
    padding: 5.5% 45px;
    display: grid;
    position: absolute;
    text-align: center;
    justify-content: centers;
    text-transform: uppercase;
}

.today__table {
    margin-top: 50px;
}

.today__btn:hover .today__btn-text {
    -webkit-transition: all 0.2s ease;
    color: white;
}