.GCard {
    margin-top: 10px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.gcard__name {
    color: #c79c60;
    font-size: 30px;
    font-family: 'Damion', cursive;
}

.gcard__text {
    color: #333;
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
}

.gcard__texts {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.3;
    font-weight: lighter;
    color: #444;
    font-size: 10px;
    text-align: justify;
    width: 400px;
}

.gcard__btn {
    display: grid;
    justify-content: center;
    margin-top: 30px;
    position: absolute;
}

.gcard__btn-text {
    font-size: 15px;
    margin-top: 2px;
    margin-left: 13px;
    color: #c79c60;
    display: grid;
    /* position: absolute; */
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.gcard__btn:hover .gcard__btn-text {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    color: white;
}

.Gcard__image-content {
    display: grid;
    justify-content: center;
}

.gcard__img {
    margin-top: -3px;
}

.gcard__imeg {
    margin-top: -80px;
    border: 9px solid white;
    border-radius: 50%;
}

@media screen and (max-width:777px) {
    .GCard{
        gap: 30px;
    }
    .gcard__texts {
        width: 480px !important;
    }
}
@media screen and (max-width:425px) {
    .gcard__container{
        margin-top: -5rem;
        margin-left: -3rem;
    }
    .GCard{
        display: grid;
        margin-bottom: 300px;
    }
    .gcard__texts {
        width: 293px !important;
    }
    .Gcard__image-content{
        position: absolute;
        display: grid !important;
        justify-content: start;
        margin-top: 700px;
        margin-left: -12rem;
    }
}