.daily {
    margin-top: 100px;
    display: grid;
    justify-content: center;
}

.daily__container {
    gap:70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daily__name {
    color: #c79c60;
    font-size: 30px;
    font-family: 'Damion', cursive;
}

.daily__content {
    margin-top: 60px;
    gap: 90px;
    justify-content: center;
    display: flex;
}

.daily__hr {
    margin-top: 7px;
    border: none;
    height: 1px;
    width: 670px;
    background: #c79c60;
}

.daily__title {
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    width: 600px;
}

.daily__texts {
    margin-left: 7%;
    margin-top: 4%;
}

.daily__text {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.daily__num {
    color: #c79c60;
    margin: 1px;
    font-weight: 600;
    font-size: 15px;
}

.daily__btn {
    display: grid;
    justify-content: center;
    margin-top: 30px;
    position: absolute;
}

.daily__btn-text {
    font-size: 15px;
    color: #c79c60;
    padding: 5.9% 50px;
    display: grid;
    position: absolute;
    text-align: center;
    justify-content: centers;
    text-transform: uppercase;
}

.daily__btn:hover .daily__btn-text {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    color: white;
}

.daily__imeg {
    margin-top: -50px;
    border: 9px solid white;
    border-radius: 50%;
}
@media screen and (max-width:777px) {
    .daily__hr{
        width: 475px;
    }
    .daily__container{
        gap: 70px;
    }
    .daily__content{
        margin-left: 1rem;
        display: grid;
        justify-content: start;
    }
}

@media screen and (max-width:425px) {
    .daily__hr{
        width: 300px;
    }
    .daily__container{
        margin-left: 1rem;
        width: 300px !important;
        display: grid;
        gap: 20px;
    }
    .daily__content{
        margin-left: 1rem;
        width: 310px;
        padding: 0px 50px;
        display: grid;
        justify-content: center;
    }
    .daily__title{
        width: 300px;
    }
}
