@import url('https://fonts.googleapis.com/css2?family=Damion&family=Dosis:wght@200;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Damion&family=Dosis:wght@200;700&family=Gideon+Roman&family=Poppins&display=swap');


.contact__section {
    background-color: #e4e4e4;
    height: 1630px;
    /* padding: 0px 5% 5% 0px; */
}

.contact {
    position: absolute;
    height: 880px;
    width: 100%;
    background: #282726;
}

.contact__image-container {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}
.contact__image {
    width: 280px;
    vertical-align: middle;
}
.contact__img {
    margin-top: 2%;
    height: 100%;
    width: 70px;
}
.contact__title-content {
    color: #FFF9F0;
    margin-top: -130px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__title {
    font-family: 'Damion', cursive;
    font-size: 57px;
}
.contact-text-content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact__text {
    font-weight: 500;
    font-family: 'Gideon Roman', serif;
    font-size: 58px;
    color: #c79c60;
    text-transform: uppercase;
}
.contact__texts {
    color: #949494;
    font-size: 14px;
    text-align: start;
    width: 620px;
    text-align: justify;
}
.contact__btn {
    display: grid;
    margin-left: 22rem;
    justify-content: center;
    margin-top: 35px;
    position: absolute;
}
.contact__btn-text {
    color: #c79c60;
    padding: 6.5% 50px;
    display: grid;
    font-size: 14.5px;
    font-weight: 400;
    position: absolute;
    text-align: center;
    justify-content: centers;
    text-transform: uppercase;
}
.contact__table {
    margin-top: 65px;
}
.contact__btn:hover .contact__btn-text {
    -webkit-transition: all 0.2s ease;
    color: white;
}


@media screen and (max-width:777px) {
    .contact__section {
        height: 1900px;
    }
    .contact__image-container{
        gap: 20px;
    }

    .contact__image {
        width: 240px;
        vertical-align: middle;
    }

    .contact__btn {
        margin-left: 22rem;
    }

    .contact {
        height: 810px;
    }
    .contact__title-content{
        margin-top: -80px;
        gap: 30px;
    }
    .contact__title{
      margin-left: -1rem;
    }
}


@media screen and (max-width:425px) {
    .contact{
        height: 740px;
    }
    .contact__title-content {
        margin-top: -80px;
        gap: 0;
    }
    .contact__title{
        width: 200px;
    }
    .contact__section {
        height: 1760px;
    }
    .contact__table{
        margin-top: 140px;
    }
    .contact__imagee{
        width: 220px;
    }

    .contact__image{
        display: none;
    }
    .contact__content{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contact__title{
        font-size: 40px;
    }
    .contact__img{
        margin-top: 2rem;
        width: 30px;
    }
    .contact__text{
        line-height: 1.1;
        text-align: center;
        width: 300px;
    }
    .contact__texts{
        margin-top: 1rem;
        width: 270px;
    }
    .contact__btn {
        margin-left: 4rem;
    }
}