.footer__container {
    display: grid;
    align-items: center;
    height: 329px;
    background-color: #302F2F;
}

.footer-contents {
    margin-left: 2rem;
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: start;
}

.footer-menu__container {
    width: 140px;
}
.about__special{
    display: flex;
    gap: 5rem;
}

.footer__about-name,
.footer__menu-name,
.footer__social-name {
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.footer__menu,
.footer__about,
.footer__social {
    margin-top: 1rem;
}

.footer__menu-item {
    margin-top: 1.6rem;
    color: white;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.42857143;
}

.footer__menu-item:hover {
    color: #c79c60;
}

.footer__about-item {
    margin-top: 15px;
    color: #fff;
    font-size: 14px;
    line-height: 1.42857143;
}

.footer__social-item {
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
    line-height: 1.42857143;
}

.footer-about__container {
    width: 350px;
    text-align: justify;

}

.footer-social__container {
    width: 300px;

}

.footer-icon {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: start;
}

.footer__social-icon {
    color: #fff;
    background-color: #505050;
    width: 50px;
    padding: 10px;  
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
}

.copy-text {
    font-size: 76%;
    line-height: 1.42857143;
    color: #334;
}
@media screen and (max-width:777px){
    .footer__container{
        height: 700px;
        justify-content: start;
        padding: 20px 20px 20px 20px ;
    }
    .footer-menu__container{
        gap: 3rem;
    }
    .footer-contents{
        display: grid;
        gap: 4rem;
    }
    .about__special{
        display: grid;
        gap: 4rem;
    }
    .footer-about__container {
        width: 680px;
        text-align: justify;
    
    }
    
    .footer-social__container {
        width: 550px;
    
    }
}
@media screen and (max-width:425px) {
    .footer-about__container {
        width: 180px;
        text-align: justify;
    
    }
    .footer__container{
        height: 900px;
    }
    
    .footer-social__container {
        width: 150px;
    
    }
}