@import url('https://fonts.googleapis.com/css2?family=Damion&family=Dosis:wght@200;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Damion&family=Dosis:wght@200;700&family=Gideon+Roman&family=Poppins&display=swap');


.home__section {
    background-color: #e4e4e4;
    height: 3200px;
    /* padding: 0px 5% 5% 0px; */
}

.home {
    position: absolute;
    height: 880px;
    width: 100%;
    background: #282726;
}

.home__image-container {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.home__image {
    width: 280px;
    vertical-align: middle;
}

.home__imagee {
    width: 280px;
    vertical-align: middle;
}


.home__img {
    margin-top: 2%;
    height: 100%;
    width: 70px;
}

.home__title-content {
    color: #FFF9F0;
    margin-top: -130px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__title {
    font-family: 'Damion', cursive;
    font-size: 57px;
    margin-left: -1rem;
}

.home-text-content {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home__text {
    font-weight: 500;
    font-family: 'Gideon Roman', serif;
    font-size: 58px;
    color: #c79c60;
    text-transform: uppercase;
}

.home__texts {
    color: #949494;
    font-size: 14px;
    text-align: start;
    width: 620px;
    text-align: justify;
}

.home__btn {
    display: grid;
    margin-left: 22rem;
    justify-content: center;
    margin-top: 35px;
    position: absolute;
}

.home__btn-text {
    color: #c79c60;
    padding: 5.5% 66px;
    display: grid;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    text-align: center;
    justify-content: centers;
    text-transform: uppercase;
}

.home__table {
    margin-top: 65px;
}

.home__btn:hover .home__btn-text {
    -webkit-transition: all 0.2s ease;
    color: white;
}

@media screen and (max-width:777px) {
    .home__section {
        height: 4430px;
    }

    .home__image-container {
        gap: 20px;
    }

    .home__image {
        width: 240px;
        vertical-align: middle;
    }
    .home__imagee {
        width: 240px;
        vertical-align: middle;
    }

    .home__btn {
        margin-left: 22rem;
    }

    .home {
        height: 756px;
    }

    .home__title-content {
        margin-top: -80px;
    }
}

@media screen and (max-width:425px) {
    .home__section {
        height: 4980px;
    }

    .home__image{
        display: none;
    }
    .home__content{
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home__title{
        line-height: 1.1;
        font-size: 40px;
    }
    .home__img{
        margin-top: 2rem;
        width: 30px;
    }
    .home__text{
        margin-top: 1rem;
        line-height: 1.1;
        text-align: center;
        width: 300px;
    }
    .home__texts{
        margin-top: 1rem;
        width: 270px;
    }
    .home__table{
        margin-top: 100px;
    }
    .home__btn {
        margin-left: 5rem;
    }
}