.popular__section {
    margin-top: 15rem;
}

.popular__data-hr {
    border: none;
    height: 1px;
    background-color: #ADADAD;
}


.popular__data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular__container {
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular__name {
    color: #c79c60;
    font-size: 30px;
    font-family: 'Damion', cursive;
}

.popular__hrr {
    margin-top: 7px;
    border: none;
    height: 1px;
    width: 640px;
    background: #c79c60;
}

.data {
    margin-top: 5rem;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.popular__data-content {
    background: #fff;
    width: 286px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popular__data-title::first-letter {
    font-weight: 700;
    color: #ADADAD;
    font-size: 50px;
    font-family: 'Damion', cursive;
}

.popular__data-title {
    font-weight: 500;
    color: #ADADAD;
    font-size: 35px;
    font-family: 'Damion', cursive;
}

.popular__data-text {
    padding: 19px 0px 60px 0px;
    color: #333;
    letter-spacing: -0.30px;
    font-size: 14px;
    width: 220px;
}

.data__icon-bg {
    margin-top: -4rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #524C4C;
    width: 100px;
    height: 100px;
}

.data__icon-text {
    text-align: center;
    font-weight: 500;
    color: #ADADAD;
    font-family: 'Damion', cursive;
    font-size: 24px;
    border: 2px solid rgb(174, 174, 174);
    border-radius: 50%;
    width: 85px;
    height: 85px;
    padding-top: 8px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.popular__data-container:hover {
    .popular__data-content {
        box-shadow: 0px 11px 6px 0px rgba(153, 153, 153, 0.75);
        -webkit-box-shadow: 0px 11px 6px 0px rgba(153, 153, 153, 0.75);
        -moz-box-shadow: 0px 11px 6px 0px rgba(153, 153, 153, 0.75);
    }

    .popular__data-title::first-letter {
        color: #c79c60;
    }

    .popular__data-hr {
        border: none;
        height: 1px;
        background-color: #c79c60;
    }

    .popular__data-title {
        color: #c79c60;
    }

    .data__icon-text {
        border: 2px solid #c79c60;
        color: #c79c60;
    }
}
@media screen and (max-width:777px) {
    .data{
        display: grid;
        gap: 50px;
        justify-content: space-around;
        grid-template-columns: auto auto;
    }
    .popular__hrr{
        width: 450px;
    }
    .popular__container{
        gap: 50px;
    }
}
@media screen and (max-width:425px) {
    .gcard__imeg{
        margin-left: -2rem;
    }
    .popular__section{
        margin-top: 40rem;
    }
    .data{
        display: grid;
        gap: 40px;
        grid-template-columns: auto ;
    }
    .popular__hrr{
        width: 280px;
    }
    .popular__name{
        display: grid;
        justify-content: start;
    }
    .popular__container{
        display: grid;
        gap: 10px;
    }
}